<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="theflag_logoBlack.ico">
    <title>Where's My Ball Tournament</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-page="/Index"></a>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/PlayerBios">Player Bios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/FlagRecipients">Flag Recipients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/BootRecipients">Boot Recipients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/InsightToNextYear">Insight To Next Year</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/History">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Rules">Rules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Gallery">Gallery</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*Flag Recipient Modals*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnShowImage1').click(function () {
                $('#myImage').show();
                $('#myModal1').modal('show');
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnShowImage2').click(function () {
                $('#myImage').show();
                $('#myModal2').modal('show');
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnShowImage3').click(function () {
                $('#myImage').show();
                $('#myModal3').modal('show');
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnShowImage4').click(function () {
                $('#myImage').show();
                $('#myModal4').modal('show');
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnShowImage5').click(function () {
                $('#myImage').show();
                $('#myModal5').modal('show');
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnShowImage6').click(function () {
                $('#myImage').show();
                $('#myModal6').modal('show');
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnShowImage7').click(function () {
                $('#myImage').show();
                $('#myModal7').modal('show');
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnShowImage8').click(function () {
                $('#myImage').show();
                $('#myModal8').modal('show');
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnShowImage9').click(function () {
                $('#myImage').show();
                $('#myModal9').modal('show');
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnShowImage10').click(function () {
                $('#myImage').show();
                $('#myModal10').modal('show');
            });
        });
    </script>
    @*End Flag Recipient Modals*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>