@page
@model WheresMyBallTourney.Pages.FlagRecipientsModel
@{
}

@* NOTES
   -
*@

<div class="flagRecipientPage">
    <SiteNavBar />
    <h1 class="flagRecipientHeader">Flag Recipients</h1>
    <div class="flagRecipientLayout">
        <div class="flagRecipientCard">
            <div class="flagRecipientTitle">
                <p>Grant Luther</p>
                <p>Toad Valley</p>
                <p>2013</p>
            </div>
            <img class="flagRecipientPic" src="~/flagsitepics/theflag_2013flag.jpg" />
            <asp:Button class="openModalBtn" ID="btnShowImage1" runat="server" Text="Show Image1" OnClick="btnShowImage1_Click">Scorecard</asp:Button>
            <div id="myModal1" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img class="modal-pic" src="~/flagsitepics/theflag_2013card.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flagRecipientCard">
            <div class="flagRecipientTitle">
                <p>Derrick Wiley</p>
                <p>The Legacy Golf Club</p>
                <p>2014</p>
            </div>
            <img class="flagRecipientPic" src="~/flagsitepics/theflag_2014flag.jpg" />
            <asp:Button class="openModalBtn" ID="btnShowImage2" runat="server" Text="Show Image2" OnClick="btnShowImage2_Click">Scorecard</asp:Button>
            <div id="myModal2" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img class="modal-pic" src="~/flagsitepics/theflag_2014card.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flagRecipientCard">
            <div class="flagRecipientTitle">
                <p>Grant Luther</p>
                <p>Honey Creek Golf Club</p>
                <p>2015</p>
            </div>
            <img class="flagRecipientPic" src="~/flagsitepics/theflag_2015flag.jpg" />
            <asp:Button class="openModalBtn" ID="btnShowImage3" runat="server" Text="Show Image3" OnClick="btnShowImage3_Click">Scorecard</asp:Button>
            <div id="myModal3" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img class="modal-pic" src="~/flagsitepics/theflag_2015card.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flagRecipientCard">
            <div class="flagRecipientTitle">
                <p>Derrick Wiley</p>
                <p>Bos Landen Golf Club</p>
                <p>2016</p>
            </div>
            <img class="flagRecipientPic" src="~/flagsitepics/theflag_2016flag.jpg" />
            <asp:Button class="openModalBtn" ID="btnShowImage4" runat="server" Text="Show Image4" OnClick="btnShowImage4_Click">Scorecard</asp:Button>
            <div id="myModal4" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img class="modal-pic" src="~/flagsitepics/theflag_2016card.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flagRecipientCard">
            <div class="flagRecipientTitle">
                <p>Connor Girkin</p>
                <p>Blue Top Ridge at Riverside</p>
                <p>2017</p>
            </div>
            <img class="flagRecipientPic" src="~/flagsitepics/theflag_2017flag.jpg" />
            <asp:Button class="openModalBtn" ID="btnShowImage5" runat="server" Text="Show Image5" OnClick="btnShowImage5_Click">Scorecard</asp:Button>
            <div id="myModal5" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img class="modal-pic" src="~/flagsitepics/theflag_2017card.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flagRecipientCard">
            <div class="flagRecipientTitle">
                <p>Ryan Biegger</p>
                <p>Tournament Club of Iowa</p>
                <p>2018</p>
            </div>
            <img class="flagRecipientPic" src="~/flagsitepics/theflag_2018flag.jpg" />
            <asp:Button class="openModalBtn" ID="btnShowImage6" runat="server" Text="Show Image6" OnClick="btnShowImage6_Click">Scorecard</asp:Button>
            <div id="myModal6" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img class="modal-pic" src="~/flagsitepics/theflag_2018card.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flagRecipientCard">
            <div class="flagRecipientTitle">
                <p>Ryan Biegger</p>
                <p>Amana Colonies Golf Club</p>
                <p>2019</p>
            </div>
            <img class="flagRecipientPic" src="~/flagsitepics/theflag_2019flag.jpg" />
            <asp:Button class="openModalBtn" ID="btnShowImage7" runat="server" Text="Show Image7" OnClick="btnShowImage7_Click">Scorecard</asp:Button>
            <div id="myModal7" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img class="modal-pic" src="~/flagsitepics/theflag_2019card.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flagRecipientCard">
            <div class="flagRecipientTitle">
                <p>Derrick Wiley</p>
                <p>Whitebirch at Breezy Point</p>
                <p>2020</p>
            </div>
            <img class="flagRecipientPic" src="~/flagsitepics/theflag_2020flag.jpg" />
            <asp:Button class="openModalBtn" ID="btnShowImage8" runat="server" Text="Show Image8" OnClick="btnShowImage8_Click">Scorecard</asp:Button>
            <div id="myModal8" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img class="modal-pic" src="~/flagsitepics/theflag_2020card.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flagRecipientCard">
            <div class="flagRecipientTitle">
                <p>Derrick Wiley</p>
                <p>Quarry Oaks Golf Club</p>
                <p>2021</p>
            </div>
            <img class="flagRecipientPic" src="~/flagsitepics/theflag_2021flag.jpg" />
            <asp:Button class="openModalBtn" ID="btnShowImage9" runat="server" Text="Show Image9" OnClick="btnShowImage9_Click">Scorecard</asp:Button>
            <div id="myModal9" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img class="modal-pic" src="~/flagsitepics/theflag_2021card.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flagRecipientCard">
            <div class="flagRecipientTitle">
                <p>Connor Girkin</p>
                <p>Raven Golf Club</p>
                <p>2022</p>
            </div>
            <img class="flagRecipientPic" src="~/flagsitepics/theflag_2022flag.jpg" />
            <asp:Button class="openModalBtn" ID="btnShowImage10" runat="server" Text="Show Image10" OnClick="btnShowImage10_Click">Scorecard</asp:Button>
            <div id="myModal10" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img class="modal-pic" src="~/flagsitepics/theflag_2022card.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





