@page
@model WheresMyBallTourney.Pages.GalleryModel
@{
}

@* NOTES
   - find out best way to upload photos
   - add css to page for mobile and desktop
*@

<p class="galleryText">*** photos coming soon ***</p>