@page
@model WheresMyBallTourney.Pages.GalleryModel
@{
}

@* NOTES
   -
*@

<p class="galleryText">*** photos coming soon ***</p>

<div id="galleryLayout">
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_1.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_2.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_3.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_5.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_6.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_7.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_8.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_9.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_10.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_11.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_12.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_13.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_14.png" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_15.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_16.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_17.png" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_18.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_19.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_20.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_21.jpg" />
    <img id="galleryPic" src="~/flagsitepics/gallerypics/img_22.jpg" />
</div>

