@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@* NOTES
    -
*@

<div class="desktopLogo">
    <img class="homeFlagLogo" src="~/wwwroot/FlagSitePics/theflag_logoBack.png" />
</div>
<br />
<p class="homeFlagQuote">
    It's not about winning the tournament, it's about making sure you don't
    lose
</p>
