@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div className="desktopLogo">
    <img src="~/flagsitepics/theflag_logo2.png" />
</div>
<br/>
<p className="homeFlagQuote">
    It's not about winning the tournament, it's about making sure you don't
    lose
</p>
