@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@*figure out nav bar toggler*@
<div class="desktopLogo">
    <img class="homeFlagLogo" src="~/flagsitepics/theflag_logo2.png" />
</div>
<br/>
<p class="homeFlagQuote">
    It's not about winning the tournament, it's about making sure you don't
    lose
</p>
