@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@* NOTES
    - figure out nav bar toggler
    - choose a style for picture
*@

<div class="desktopLogo">
    <img class="homeFlagLogo" src="~/flagsitepics/theflag_logo2.png" />
    <img class="homeFlagLogo" src="~/flagsitepics/theflag_logoblack.png" />
</div>
<br/>
<p class="homeFlagQuote">
    It's not about winning the tournament, it's about making sure you don't
    lose
</p>
