@page
@model WheresMyBallTourney.Pages.InsightToNextYearModel
@{
}

@* NOTES
   - create form with drop down menu that lets people submit picks for flag/boot winners
   - figure out how to save each pick
   - show results in some type of graph
*@

<div class="predictionPage">
    <SiteNavBar />
    <h1 class="predictionsHeader">Insight To Next Year</h1>
    <div class="predictionLayout">
        <div class="ourPredictions">
            <p id="predictionName">Austin's prediction:</p>
            <div>
                <p id="prediction">Boot: Jordan</p>
                <p id="prediction">2nd: Derrick</p>
                <p id="prediction">3rd: Ryan</p>
                <p id="prediction">4th: Grant</p>
                <p id="prediction">5th: Connor</p>
                <p id="prediction">Flag: Austin</p>
            </div>
        </div>
        <div class="ourPredictions">
            <p id="predictionName">Connor's prediction:</p>
            <div>
                <p id="prediction">Boot: Jordan</p>
                <p id="prediction">2nd: Ryan</p>
                <p id="prediction">3rd: Austin</p>
                <p id="prediction">4th: Grant</p>
                <p id="prediction">5th: Derrick</p>
                <p id="prediction">Flag: Connor</p>
            </div>
        </div>
        <div class="ourPredictions">
            <p id="predictionName">Derrick's prediction:</p>
            <div>
                <p id="prediction">Boot: Jordan</p>
                <p id="prediction">2nd: Grant</p>
                <p id="prediction">3rd: Ryan</p>
                <p id="prediction">4th: Austin</p>
                <p id="prediction">5th: Connor</p>
                <p id="prediction">Flag: Derrick</p>
            </div>
        </div>
        <div class="ourPredictions">
            <p id="predictionName">Grant's prediction:</p>
            <div>
                <p id="prediction">Boot: Austin</p>
                <p id="prediction">2nd: Grant</p>
                <p id="prediction">3rd: Ryan</p>
                <p id="prediction">4th: Connor</p>
                <p id="prediction">5th: Derrick</p>
                <p id="prediction">Flag: Jordan</p>
            </div>
        </div>
        <div class="ourPredictions">
            <p id="predictionName">Jordan's prediction:</p>
            <div>
                <p id="prediction">Boot: Jordan</p>
                <p id="prediction">2nd: Austin</p>
                <p id="prediction">3rd: Derrick</p>
                <p id="prediction">4th: Ryan</p>
                <p id="prediction">5th: Grant</p>
                <p id="prediction">Flag: Connor</p>
            </div>
        </div>
        <div class="ourPredictions">
            <p id="predictionName">Ryan's prediction:</p>
            <div>
                <p id="prediction">Boot: Austin</p>
                <p id="prediction">2nd: Grant</p>
                <p id="prediction">3rd: Ryan</p>
                <p id="prediction">4th: Jordan</p>
                <p id="prediction">5th: Connor</p>
                <p id="prediction">Flag: Derrick</p>
            </div>
        </div>
    </div>
</div>
