html {
  font-size: 14px;
}

@media (min-width: 915px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #242222;
}

/*======================================= HOME PAGE ===============================================*/

.homeHeader {
    margin: auto;
    font-size: 40pt;
    font-family: "Oleo Script", cursive;
}

.homeHeaderWords {
    color: #f5f5f5;
}

.homeLayout {
    margin: 25px auto auto auto;
    justify-content: center;
    background-color: #242222;
}

.homeFlagLogo {
    height: 400px;
    width: 300px;
    margin-top: 45px;
}

.desktopLogo {
    position: relative;
    display: flex;
    justify-content: center;
}

.homeFlagQuote {
    text-align: center;
    display: block;
    margin: 25px auto 125px 0;
    font-style: italic;
    font-size: 16pt;
    color: #f5f5f5;
}

.hamburger {
    border: 2px solid #f5f5f5;
    background-color: #efb1f2;
}

.homeNavDropdown {
}

#dropdownWords {
    color: #f5f5f5;
}

/* ============================== Mobile Version ============================== */
@media (max-width: 915px) {
    .homeHeader {
        margin: auto;
        font-size: 1.2rem;
        font-family: "Oleo Script", cursive;
        padding-top: 1.25rem;
    }

    .homeHeaderWords {
        color: #f5f5f5;
    }

    .homeLayout {
        margin: 2rem auto auto auto;
        justify-content: center;
        background-color: #242222;
        justify-content: center;
    }

    .homeFlagLogo {
        height: 22rem;
        width: 15rem;
        border-radius: 2.5%;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .homeFlagQuote {
        text-align: center;
        display: block;
        margin: 2rem auto 5rem 0;
        font-style: italic;
        font-size: 1.25rem;
        color: #f5f5f5;
    }

    .hamburger {
        border: 2px solid #f5f5f5;
        background-color: #efb1f2;
        padding: 2px;
    }

    .homeNavDropdown {
        text-align: center;
        color: #f5f5f5;
    }

    #dropdownWords {
        color: #f5f5f5;
    }

        #dropdownWords:hover {
            color: #efb1f2;
        }
}

/*======================================= PLAYER BIO PAGE ===============================================*/
.playerBioPage {
    background-color: #242222;
}

.playerBioLayout {
    text-align: center;
    background-color: #242222;
}

.bio {
    /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  width: 1500px;
  height: auto;
  margin: 75px auto 100px auto; */

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.playerBioHeader {
    margin-bottom: 4rem;
    font-family: "Oleo Script", cursive;
    font-size: 48pt;
    text-align: center;
    color: #efb1f2;
    margin-top: 100px;
}

.playerCards {
    box-shadow: 0 0 20px #f5f5f5, 0 0 20px 0 #f5f5f5;
    border-radius: 25px;
    background: transparent;
    margin: auto 5rem 5rem 5rem;
}

.bioPlayerName {
    font-size: 30pt;
    font-family: "Boogaloo", cursive;
    color: #f5f5f5;
    width: 300px;
    margin: auto auto 0.75rem auto;
}

.socials {
    margin: 30px 0 -15px 0;
}

.socialIcon {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.bioPic {
    margin-top: 15px;
    height: 250px;
    width: 250px;
    box-shadow: 0 0 20px 0 #4cdbf6, 0 0 20px 0 #4cdbf6;
    border-radius: 20%;
}

.bioInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #f5f5f5;
    width: 250px;
}

    .bioInfo p {
        display: flex;
        justify-content: flex-start;
    }

.bioInfoList {
    font-size: 14pt;
    padding: 0;
    color: #efb1f2;
    font-family: "Oswald", sans-serif;
}

.playerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bioListDetail {
    margin-left: 5px;
    font-size: 10pt;
    color: #c4c4c4;
    font-family: sans-serif;
}

.playerCardBody {
    justify-content: center;
    margin: auto;
}



/* ===================== Mobile Version ======================= */
@media (max-width: 915px) {
    .playerBioPage {
        background-color: #242222;
    }

    .playerBioLayout {
        text-align: center;
        background-color: #242222;
    }

    .bio {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .playerBioHeader {
        color: #efb1f2;
        font-family: "Oleo Script", cursive;
        font-size: 38pt;
        margin-bottom: 4rem;
    }

    .playerCards {
        box-shadow: 0 0 20px #f5f5f5, 0 0 20px 0 #f5f5f5;
        border-radius: 25px;
        background: transparent;
        margin: auto auto 5rem auto;
    }

    .bioPlayerName {
        font-size: 30pt;
        font-family: "Boogaloo", cursive;
        color: #f5f5f5;
        width: 300px;
        margin: auto auto 0.75rem auto;
    }

    .socials {
        margin: 30px 0 -15px 0;
    }

    .socialIcon {
        height: 30px;
        width: 30px;
        border-radius: 5px;
    }

    .bioPic {
        margin-top: 15px;
        height: 250px;
        width: 250px;
        box-shadow: 0 0 20px 0 #4cdbf6, 0 0 20px 0 #4cdbf6;
        border-radius: 20%;
    }

    .bioInfo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        color: #f5f5f5;
        width: 250px;
    }

        .bioInfo p {
            display: flex;
            justify-content: flex-start;
        }

    .bioInfoList {
        font-size: 14pt;
        padding: 0;
        color: #efb1f2;
        font-family: "Oswald", sans-serif;
    }

    .playerInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bioListDetail {
        margin-left: 5px;
        font-size: 10pt;
        color: #c4c4c4;
        font-family: sans-serif;
    }

    .playerCardBody {
        justify-content: center;
        margin: auto;
    }
}


/*============================ BOOT RECIPIENT PAGE ===============================================*/
.bootWinnerLayout {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bootWinnerCard {
    margin: auto 5rem 5rem 5rem;
    box-shadow: 0 1px 1px #c4c4c4, 0 2px 2px #c4c4c4, 0 4px 4px #c4c4c4, 0 8px 8px #c4c4c4, 0 10px 10px #c4c4c4;
    background-color: #e7e7e7d0;
    width: 367px;
    margin-top: 2.5rem;
}

.bootHeader {
    margin-bottom: 4rem;
    font-family: "Oleo Script", cursive;
    font-size: 48pt;
    text-align: center;
    color: #efb1f2;
    margin-top: 100px;
}

.preBoot {
    margin-top: 2.5rem;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
}

.bootWinnerTitle {
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    font-size: 12pt;
    text-align: center;
}

.bootWinnerPic {
    height: 22rem;
    width: 365px;
}

.bootWinners {
    margin-bottom: 100px;
    background-color: #242222;
}

/* ==================== Mobile Version ======================= */
@media (max-width: 915px) {
    .bootWinnerLayout {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .bootWinnerCard {
        margin: auto auto 6rem auto;
        box-shadow: 0 1px 1px #c4c4c4, 0 2px 2px #c4c4c4, 0 4px 4px #c4c4c4, 0 8px 8px #c4c4c4, 0 10px 10px #c4c4c4;
        background-color: #e7e7e7d0;
        max-height: 550px;
        max-width: 350px;
    }

    .bootHeader {
        font-family: "Oleo Script", cursive;
        font-size: 48pt;
        text-align: center;
        color: #efb1f2;
        margin-top: 65px;
    }

    .preBoot {
        margin: 2.5rem auto 2.5rem auto;
        color: #f5f5f5;
        text-align: center;
        padding: 1.25rem;
    }

    .bootWinnerTitle {
        font-weight: bold;
        font-family: "Oswald", sans-serif;
        font-size: 12.5pt;
        text-align: center;
    }

    .bootWinnerPic {
        height: 300px;
        width: auto;
    }

    .bootWinners {
        margin-bottom: 100px;
        background-color: #242222;
    }
}


/*============================HISTORY PAGE===============================================*/
.historyPage {
    background-color: #242222;
}

.historyLayout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 85%;
    width: 90%;
    margin: auto auto 75px auto;
    color: #f5f5f5;
    /**/
    text-align: center;
    font-size: 14pt;
    font-family: "Oswald", sans-serif;
    line-height: 2;
}

.historyHeader {
    color: #f5f5f5;
    font-family: "Oleo Script", cursive;
    font-size: 48pt;
    text-align: center;
    color: #efb1f2;
    margin-top: 65px;
    margin-bottom: 65px;
}

/*.historyContent {
    text-align: center;
    height: 200px;
    width: 800px;
    display: block;*/
    /*margin: 75px auto auto auto;*/
    /*margin: 75px auto 50px auto;
    font-size: 14pt;
    font-family: "Oswald", sans-serif;
    line-height: 2;
}*/

.historyFlagLogo {
    height: 400px;
    width: 300px;
    display: block;
    margin: 600px auto 300px auto;
}

/* ==================== Mobile Version ==================== */
@media (max-width: 915px) {
    .historyPage {
        background-color: #242222;
    }

    .historyLayout {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 85%;
        width: 380px;
        margin: auto;
        color: #f5f5f5;
    }

    .historyHeader {
        color: #efb1f2;
        font-family: "Oleo Script", cursive;
        font-size: 38pt;
        text-align: center;
    }

    .historyContent {
        text-align: center;
        height: 200px;
        width: 380px;
        display: block;
        margin: 75px auto 100px auto;
        font-size: 14pt;
        font-family: "Oswald", sans-serif;
        line-height: 2;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .historyFlagLogo {
        height: 400px;
        width: 300px;
        display: block;
        margin: 1150px auto 100px auto;
    }
}

/* ============================== RULES PAGE ============================== */
.rulesPage {
    background-color: #242222;
}

.rulesLayout {
    margin: 75px auto 75px auto;
    /*height: 210rem;*/
    height: 175rem;
    width: 75rem;
    color: #f5f5f5;
}

.rulesHeader {
    color: #f5f5f5;
    font-family: "Oleo Script", cursive;
    font-size: 48pt;
    text-align: center;
    color: #efb1f2;
    margin-top: 100px;
}

.ruleSection {
    margin: 15px 0 50px 0;
}


.rulesName {
    display: flex;
    justify-content: flex-start;
    margin: 2rem auto 2rem 14rem;
}

.rulesList {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 650px;
    font-size: 12pt;
    font-family: "Oswald", sans-serif;
    line-height: 2;
}

    .rulesList li {
        margin: 0.5rem;
    }

/* =================== Mobile Version =================== */
@media (max-width: 915px) {
    .rulesPage {
        background-color: #242222;
    }

    .rulesLayout {
        margin: 75px auto auto auto;
        height: 210rem;
        width: 25rem;
        color: #f5f5f5;
    }

    .rulesHeader {
        color: #efb1f2;
        font-family: "Oleo Script", cursive;
        font-size: 38pt;
        text-align: center;
    }

    .rulesSection {
        margin: 15px 0 50px 0;
    }

    .rulesName {
        display: flex;
        justify-content: center;
        margin: auto auto 1rem auto;
    }

    .rulesList {
        text-align: left;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 380px;
        font-size: 12pt;
        font-family: "Oswald", sans-serif;
        line-height: 2;
    }

        .rulesList li {
            margin: 0.5rem;
        }
}